@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@100;200;400;600;800&display=swap');
*{
    font-family: DM Sans;
}
.p-Home.TextBox14{
    font-family: DM Sans;
    font-weight: 700;
  }
.p-Home.TextBox15{
    font-family: DM Sans;
    font-weight: 700;
}
.p-Home.TextBox16, .p-Home.TextBox21, .p-Home.TextBox22, .p-Home.TextBox35,.p-Home.TextBox36,.p-Home.TextBox124, .p-Home.TextBox30, .p-Home.TextBox31,.p-Home.TextBox32,.p-Home.TextBox33,.p-Home.TextBox46,.p-Home.TextBox104{
    font-family: DM Sans;
    font-weight: 500;
}
.p-Home.TextBox92,.p-Home.TextBox54,.p-Home.TextBox98,.p-Home.TextBox80 ,.p-Home.TextBox18 ,.p-Home.TextBox34, .p-Home.TextBox37 ,.p-Home.TextBox29,.p-Home.TextBox99,.p-Home.TextBox101, .p-Home.TextBox112, .p-Home.TextBox116{
    font-family: DM Sans;
    font-weight: 700;
}
.p-Home.TextBox86 , .p-Home.TextBox83 , .p-Home.TextBox89 ,.p-Home.TextBox95,.p-Home.TextBox52,.p-Home.TextBox42,
.p-Home.TextBox20, .p-Home.TextBox132, .p-Home.TextBox155{
    font-family: DM Sans;
    font-weight: 700;
}

.p-Home.Button1,.p-Home.Button5 , .p-Home.Button6, .p-Home.Button7,.p-Home.Button8,.p-Home.Button2,.p-Home.Button10,
.p-Home.Button9,.p-Home.Button11,.p-Home.Button12,.p-Home.Button17,.p-Home.Button19, .p-Home.Button21,.p-Home.Button20,
.p-Home.Button22,.p-Home.Button25{
    font-family: DM Sans;
    font-weight: 500;
}